/*欢迎观看鄙人代码，希望大家多多指教。联系方式：2220867497
   づ￣ 3￣)づ  CFC团队欢迎您的加入！ 新群qq：397043572
    期待您的加入，能让CFC变的更好，能让您自己变的更好！

       我们不是码农，我们是生活的艺术家！*/
#contents{
    width: 60%;
    margin:auto;
    position: relative;
}
p{
    line-height:28px;
    text-align: justify;

}
.resume{
    width:100%;
    margin:40px 0 10px 0;
}
.resume .littletitle{
    font-size: 20px;
    font-weight: 600;
    display: block;
}
.littletitle1{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin:28px 0 15px 0;
    position: relative;
    left:300px;
}